\#*\#
.\#*
old.tar.bz2
.cache
.emacs.desktop*
.lsp-session*
auto-save-list/*
backups/*
bookmarks
custom.el
devdocs
games/*
el-get/*
eln-cache/*
elpa/*
nov-places
projectile-bookmarks.eld
projectile.cache
straight/*
transient/*
tramp*
undo/*
url/*
var/*
xkcd/*